body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 20px auto 0;
    
    font-size: 18px;
    background: #5F6F52;
    color: white;
    border: none;
    border-radius: 15px;
}

.modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-content {
    margin: auto;
    padding: 30px;
    width: 1000px;
    height: 530px;
    z-index: 11;
    transform: translate(0, 0);
    margin-top: 10%;
    line-height: 1.4;
    background: #5F6F52;
    border-radius: 3px;
    color: "white"; 
    border-radius: 15px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.containers {
    width: 100%;
    padding: 30px;
    height:300;
    justify-Content:space-around; 
    display:flex;
}
.inner-containers {
    width: 50%;
    justify-items: center;
}
.input-div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.spinner {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }